header{
    background: black;
    color: white;
    padding: 20px 0px 0px 0px;
    margin: 0;
    font-size: 24px;
    text-indent: -35px;
}

#title {
    font-size: 30px;
    margin-right: 10px;
}
#navigation {
    margin: 0px 3%;
}

ul li {
    list-style-type: none;
    display: inline;
}


body {
    font-size: 2vw;
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    padding-top: 3%;
}

h1 {
   font-size: 5vw; 
}

.showcase-right {
    margin-top: 10%;
}

.showcase-left {
    margin-top: 10%;
}

.table {
    margin: 20px 0;
}
#testimonial {
    background-color: black;
    padding: 5% 0%;
    margin: 5% 0%;
    text-align: center;
    font-size: 3vw;
    color: white;
}

#navigation:hover{
    text-decoration: underline;
}

.pianoshowcase {
    display: inline-block;
    background-image: url("../images/Bechstein\ braun\ .jpg");
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 220px;
    width: 100%;
    margin-top: 30px;
    padding: 10px 30px; 
    text-align: right;
    background-position: center;
    color: white;
    text-shadow: 1.5px  1.5px 1.5px black,
    1.5px -1.5px 1.5px black,
   -1.5px  1.5px 1.5px black,
   -1.5px -1.5px 1.5px black;
}
#player {
    margin: 0 0 20px 25%;
}

footer {
    background-image: url(../images/keys.png);
    background-size: 600px;
    text-align: center;
    color: black;
    border-top: black 2px solid;
}
#credit {
    display: inline-block;
    background-color: white;
    padding: 0 10px;
}

@media(max-width: 768px) {
    header{font-size: 99%}
}